<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Internet -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Vibration -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Image externe (galerie perso) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Autorisation pour Open Street Map -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Autorisation pour Open Street Map -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Autorisation pour Open Street Map et tester la connectivité de mon app -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/helb_blitz_logo_v2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".GameInformationsSearchActivity"
            android:exported="false" />
        <!-- Le point d'entree de mon programme est WelcomeActivity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".GameInformationsActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>